In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv("2.02.+Binary+predictors.csv")
raw_data.head()

    SAT Admitted  Gender
0  1363       No    Male
1  1792      Yes  Female
2  1954      Yes  Female
3  1653       No    Male
4  1593       No    Male

In [3]:
dt = raw_data.copy()
dt["Admitted"] = dt["Admitted"].map({"Yes":1 , "No":0 })
dt["Gender"] = dt["Gender"].map({"Male":0, "Female":1})
dt.head()

    SAT  Admitted  Gender
0  1363         0       0
1  1792         1       1
2  1954         1       1
3  1653         0       0
4  1593         0       0

In [4]:
y = dt["Admitted"]
#x1 = dt[["SAT", "Gender"]]
x1 = dt["Gender"]

In [5]:
x = sm.add_constant(x1)
reg = sm.Logit(y, x)
result = reg.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.572260
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Mon, 17 Jul 2023   Pseudo R-squ.:                  0.1659
Time:                        13:44:07   Log-Likelihood:                -96.140
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 6.283e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.6436      0.222     -2.901      0.004      -1.078      -0.209
Gender         2.0786      0.363      5.727      0.000       1.367       2.790
==============================================================================
"""

- #### log(odds) = -0.64 + 2.08 * Gender

       log(odds2) = -0.64 + 2.08 * Gender2
       log(odds1) = -0.64 + 2.08 * Gender1
       =
       log(odds2/odds1) = 2.08(Gender2-Gender1) -> Gender has only 1 or 0 options
       =
       log(oddsFemale / oddsMale) = 2.08 * (1 - 0)
       =
       oddsFemale = 7.99 * oddsMale

# New regression

In [6]:
y = dt["Admitted"]
x1 = dt[["SAT", "Gender"]]

In [7]:
x = sm.add_constant(x1)
reg = sm.Logit(y, x)
result = reg.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Mon, 17 Jul 2023   Pseudo R-squ.:                  0.8249
Time:                        13:44:07   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -68.3489     16.454     -4.154      0.000    -100.598     -36.100
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

- #### log-likelihood is higher which is better model

- #### for same SAT score, a female has 7(exp(1.9449)) times higher odds to get admitted

# Accuracy

In [9]:
result.predict()

array([2.24098643e-06, 9.98264069e-01, 9.99997581e-01, 2.25470272e-01,
       2.48392751e-02, 9.92249420e-01, 9.96544212e-01, 9.99963261e-01,
       9.99971204e-01, 1.48031753e-02, 9.99875812e-01, 9.99951185e-01,
       7.60867651e-01, 2.33384671e-06, 5.96283811e-01, 9.99834996e-01,
       1.14446654e-01, 1.18626448e-01, 5.05147726e-01, 9.99865308e-01,
       9.99999366e-01, 9.99997048e-01, 1.71939595e-04, 5.61635704e-03,
       9.68663798e-01, 9.99644611e-01, 4.84851641e-01, 9.91962775e-01,
       9.99828160e-01, 9.94609023e-01, 1.15028367e-04, 8.32585363e-01,
       2.47449367e-01, 9.99998840e-01, 9.98847293e-01, 9.99372736e-01,
       3.12716933e-01, 9.99932453e-01, 2.32639633e-01, 5.29744519e-05,
       1.95739604e-02, 4.54521689e-01, 9.99956956e-01, 2.97763113e-06,
       9.94178832e-01, 1.77714430e-05, 9.93914956e-01, 2.29360536e-04,
       3.30501192e-04, 6.89914934e-03, 4.24966754e-03, 9.99999657e-01,
       9.23952460e-01, 2.28569785e-02, 9.99994550e-01, 5.47478329e-06,
       3.67295456e-01, 9.82709744e-01, 1.18626448e-01, 9.96812884e-01,
       4.42498320e-03, 7.83001539e-01, 9.99992146e-01, 9.98405619e-01,
       9.84722411e-01, 4.16877326e-05, 5.93790185e-06, 1.36735818e-03,
       9.99998969e-01, 4.16877326e-05, 7.76023661e-01, 1.18626448e-01,
       9.45435107e-04, 9.88912497e-01, 9.99058879e-01, 9.99982380e-01,
       1.65760554e-04, 3.04057622e-01, 9.99983689e-01, 9.99999439e-01,
       3.20169382e-03, 9.99092676e-01, 9.99998514e-01, 8.54018056e-01,
       9.99999841e-01, 9.99999797e-01, 1.94984937e-04, 9.99993869e-01,
       9.97874170e-01, 8.90053126e-01, 8.26849331e-01, 1.66794418e-03,
       9.82709744e-01, 9.68663798e-01, 4.57280919e-04, 9.99988727e-01,
       9.99780769e-01, 3.01439361e-02, 9.94609023e-01, 9.57153060e-01,
       9.96544212e-01, 2.05076737e-03, 9.97289354e-01, 1.42225547e-02,
       1.15939831e-02, 9.96939307e-01, 9.95595140e-01, 9.99525954e-01,
       2.69794875e-04, 1.35309631e-04, 2.29464135e-02, 3.30429262e-01,
       9.38962885e-05, 9.99994550e-01, 8.54173688e-02, 6.90365056e-07,
       9.69873058e-01, 2.11475559e-04, 7.45781524e-01, 9.99894427e-01,
       9.99994975e-01, 1.07417839e-02, 5.61635704e-03, 3.40287420e-05,
       9.99968769e-01, 4.42498320e-03, 9.86397174e-01, 5.66650756e-01,
       5.36533219e-01, 8.69014312e-01, 8.26849331e-01, 2.11475559e-04,
       9.99998252e-01, 2.13556422e-03, 4.21630759e-04, 6.32662368e-04,
       9.99998926e-01, 4.30350893e-02, 1.14569602e-04, 5.87100388e-03,
       9.96267866e-01, 9.93664406e-01, 5.16291768e-01, 9.96252976e-01,
       9.99562910e-01, 5.40573324e-02, 8.75249154e-04, 3.50270235e-06,
       1.09176200e-05, 6.80358735e-01, 9.99997769e-01, 9.99960313e-01,
       9.97609015e-01, 9.99798670e-01, 9.99643188e-01, 3.44191566e-04,
       9.99999929e-01, 9.98847293e-01, 3.66799700e-02, 9.99999834e-01,
       2.48392751e-02, 9.99994550e-01, 9.93689517e-01, 9.71037049e-01,
       9.37280353e-01, 5.41558024e-03, 1.54420446e-03, 1.19794265e-04])

In [10]:
# better format
np.set_printoptions(formatter={"float": lambda x :"{0:0.2f}".format(x)})
result.predict()

array([0.00, 1.00, 1.00, 0.23, 0.02, 0.99, 1.00, 1.00, 1.00, 0.01, 1.00,
       1.00, 0.76, 0.00, 0.60, 1.00, 0.11, 0.12, 0.51, 1.00, 1.00, 1.00,
       0.00, 0.01, 0.97, 1.00, 0.48, 0.99, 1.00, 0.99, 0.00, 0.83, 0.25,
       1.00, 1.00, 1.00, 0.31, 1.00, 0.23, 0.00, 0.02, 0.45, 1.00, 0.00,
       0.99, 0.00, 0.99, 0.00, 0.00, 0.01, 0.00, 1.00, 0.92, 0.02, 1.00,
       0.00, 0.37, 0.98, 0.12, 1.00, 0.00, 0.78, 1.00, 1.00, 0.98, 0.00,
       0.00, 0.00, 1.00, 0.00, 0.78, 0.12, 0.00, 0.99, 1.00, 1.00, 0.00,
       0.30, 1.00, 1.00, 0.00, 1.00, 1.00, 0.85, 1.00, 1.00, 0.00, 1.00,
       1.00, 0.89, 0.83, 0.00, 0.98, 0.97, 0.00, 1.00, 1.00, 0.03, 0.99,
       0.96, 1.00, 0.00, 1.00, 0.01, 0.01, 1.00, 1.00, 1.00, 0.00, 0.00,
       0.02, 0.33, 0.00, 1.00, 0.09, 0.00, 0.97, 0.00, 0.75, 1.00, 1.00,
       0.01, 0.01, 0.00, 1.00, 0.00, 0.99, 0.57, 0.54, 0.87, 0.83, 0.00,
       1.00, 0.00, 0.00, 0.00, 1.00, 0.04, 0.00, 0.01, 1.00, 0.99, 0.52,
       1.00, 1.00, 0.05, 0.00, 0.00, 0.00, 0.68, 1.00, 1.00, 1.00, 1.00,
       1.00, 0.00, 1.00, 1.00, 0.04, 1.00, 0.02, 1.00, 0.99, 0.97, 0.94,
       0.01, 0.00, 0.00])

- #### we gonna round below 0.5 to 0, abone 0.5 to 1 and check whether how many value match with real data.

In [12]:
# real data
np.array(dt["Admitted"])

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

- #### comparing 2 array is very diffucult. there is method for do this.

In [14]:
result.pred_table()

array([[69.00, 5.00],
       [4.00, 90.00]])

In [16]:
pred = pd.DataFrame(result.pred_table())
pred.columns = ["Predicted 0", "Predicted 1"]
pred = pred.rename(index={0:"Actual 0", 1:"Actual 1"})
pred

          Predicted 0  Predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

- #### Our model predicted 69 "0" value which are "0" in data - true
- #### Our model predicted 5 "0" value which are "1" in data - false
- #### Our model predicted 4 "1" value which are "0" in data - false
- #### Our model predicted 90 "1" value which are "1" in data - true

- so, total is = 69 + 5 + 4 + 90 = 168
- total true predictions = 69 + 90 = 159
- our model worked 94.64% true.